<div class="row justify-content-center p-2 align-items-center">
  <h2 class="mt-1 mb-1">Blog</h2>
</div>
<div class="row dropdown-divider"></div>
<div class="row justify-content-center align-items-center p-2">
  <ul class="nav navbar-expand nav-pills font-weight-bold text-uppercase">
    <li class="nav-item">
      <a class="nav-link">Головна</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Матеріали</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Доп. Інформація</a>
    </li>
  </ul>
</div>
<div class="row dropdown-divider"></div>
