<div class="container">
  <div class="col text-center text-dark" *ngIf="isSubject1 && !isSubject2">
    <h4>Розвиток сучасних освітніх технологій.</h4>
    <div class="row dropdown-divider"></div>
    <p class="text-left">
      Розвиток сучасних освітніх технологій в національному та світовому контекстах зумовлює певні зміни в освіті.
      Тенденції розвитку національної системи освіти потребують теоретичного осмислення і спонукають до практичного
      оновлення змісту професійної підготовки: потребу підвищення ефективності навчально-виховного процесу в системі
      професійно-технічної освіти; необхідність упровадження сучасних технологій комп’ютерно-орієнтованого дидактичного
      проектування, інноваційних методик щодо удосконалення навчальновиховного процесу в закладах ПТО. Перетворення в
      професійно-технічній освіті спрямовані на забезпечення умов для творчого зростання особистості майбутнього
      кваліфікованого робітника, формування національних, культурноестетичних цінностей, високоякісної професійної
      підготовки фахівців, їхньої здатності до самореалізації в індивідуальній і колективній виробничій діяльності;
      оволодіння відповідними кваліфікаціями і компетенціями, необхідними для професійної мобільності;
      конкурентоспроможності на ринку праці, а також для соціального визнання кожного учня професійно-технічного
      навчального закладу професіоналом у галузі виробничої діяльності. Студійне виробниче навчання є невід'ємною
      складовою професійної підготовки і проводиться у формі майстер-класів. У досліджені визначальним є принцип
      відповідності змісту професійнотехнічної освіти за означеними напрямами. Запропонована нами форма майстер-класів
      напрямлена на безпосередню передачу змісту, творчого досвіду безпосередньо від майстра до учня. 289 На практиці
      доведено що, студійне навчання є невід'ємною складовою апробації і розробки змісту професійної технічної освіти. У
      процесі дослідження опрацьовано зміст регіонального компонента у професійній підготовці:
      <br>
      <br>
      - перелік предметів і
      курсів державного компонента змісту освіти;
      <br>
      <br>
      - структура змісту спеціальних дисциплін передбачає формування окремої
      частини на регіональному рівні;
      <br>
      <br>
      - спеціально створені навчальні курси виробничого студійного навчання, що
      вивчаються за рахунок годин, передбачених варіативною частиною базового навчального плану. Проаналізований
      педагогічний досвід базових навчальних закладів забезпечує впровадження концепції студійного виробничого навчання
      в процес професійної підготовки кваліфікованих робітників за професіями професійно-технічного профілю.
      <br>
      <br>
      Практична
      цінність експериментальної роботи полягає в тому, що спільними зусиллями ініціативної групи вдалося досягти
      високого рівня підготовки кваліфікованих робітників – майбутніх фахівців, які вже розпочали успішну професійну
      роботу. У рамках місяця науки проведено «Фокус- групу» в Київському професійно педагогічному коледжі
      ім.А.Макаренка. Проводили захід: д.п.н. Локшин В.С., Сергієнко О.М., Бельченко В.П., Іванчук В.М., Денисюк О.О. за
      допомогою програм комп´ютерного тестування за професією «Професійна освіта» зі спеціальності «Зварювальник». У
      конкурсі взяли участь студенти групи 96з 3, у ролі тьютора-тренера персоналу з використання електронних освітніх
      ресурсів був асистент В. Воровський. Проведення конкурсного заходу показало істотну перевагу та уможливлення
      використання електронних освітніх ресурсів у майбутній професії, впровадження електронних підручників для всіх
      спеціальностей і професій в системі ПТО та контролю одержаних базових теоретичних знань і практичних навичок
      майбутніми педагогами професійного навчання з урахуванням вдосконалення професійної компетентності у системі
      безперервної ступеневої освіти. За результатами дослідження зафіксовано підвищення показника якості навчання в
      досліджуваний групі, а саме: з високим рівнем засвоєння навчального матеріалу - на 30%, із середнім рівнем
      засвоєння - 50% і на 20% - з низьким рівнем. За результатами використання ЕОР виявлено високу ефективність
      практичного використання майбутніми педагогами професійного навчання у контексті професійного становлення
      електронними освітніми ресурсами, що вже пройшли апробацію, та використання в закладах ПТО відповідного профілю та
      мають відповідні методичні 290 рекомендації щодо можливості доопрацювання та вдосконалення користання ЕОР, що
      розташовані на сайті. На сьогодні найбільш затребуваним методом отримання якісної інформації є метод
      фокус-групових інтерв'ю (фокус-груп, ФГІ) який використовувався в роботі з електронними освітніми ресурсами. Метод
      полягає в тому, що учасники (учні) спеціально відібраної групи з 8-10 (іноді 12) осіб по черзі висловлювалися в
      рамках сценарію фокусгрупи. Можливості методу дали змогу розкрити групову динамику, адже участники фокус-групп,
      відповідаючи на запитання модератора, перебувають у стані обговорення предмета бесіди, через що метод часто ще
      називають фокус-груповою дискусією.
    </p>
  </div>
  <div class="col text-center text-dark" *ngIf="!isSubject1 && isSubject2">
    <h4>Професійна підготовка майбутніх педагогів засобами.</h4>
    <div class="row dropdown-divider"></div>
    <p class="text-left">
      Постановка проблеми. Однією з основних умов оновлення системи освіти є вирішення фундаментального питання –
      підготовки вчителів. Професійна підготовка майбутніх педагогів засобами інформаційно-комунікаційних технологій
      (ІКТ) передбачає здобуття ним повноцінної вищої освіти, можливість перепідготовки, тобто охоплює всю освітню
      систему в цілому. Подальше використання й розвиток ІКТ є необхідною умовою динамічного розвитку освіти в цілому.
      Аналіз попередніх досліджень. свідчить, що проблемі професійної підготовки присвячені дослідження В. Андрущенка,
      Б. Гершунського, Б. Євтуха, К. Корсака, В. Кременя, В. Лугового та ін., підготовці фахівців на компетентнісній
      основі А. Вербицького, Р. Гуревича, І. Зязюна, Н. Ничкало, М. Палтишева, Ю. Татура, А. Хуторського та ін. У
      сучасних педагогічних дослідженнях В. Болотова, І. Зязюна, Л. Кайдалова, Н. Кічука, О. Пометун, О. Савченко
      висвітлено питання впровадження компетентністного підходу в професійну підготовку фахівців, який виступає основним
      напрямом у процесі професійної підготовки, оскільки спрямований не тільки на визначення рівня й обсягу отриманих
      фахових знань, але й здобуття глобальних умінь і навичок – здатності вільно орієнтуватися в інформаційному
      просторі, ефективно взаємодіяти в колективі, швидко перенавчатися чи підвищувати кваліфікацію, розвивати
      особистісні якості: ініціативність, активність, самостійність тощо.
      <br>
      <br>
      Мета статті полягає у висвітленні інноваційних підходів професійної підготовки майбутніх педагогів засобами ІКТ в
      умовах функціонування інформаційного освітнього середовища (ІОС). Виклад основного матеріалу. Інформатизація
      освіти вимагає від майбутнього педагога високого рівня професійної компетентності. Вчитель в умовах жорсткої
      конкуренції, завдяки ІКТ бути готовим повноцінно реалізувати нові ідеї, використовувати ІКТ з метою доступу до
      інформації, її визначення (ідентифікації), організації, обробки, оцінки, а також її створення і передачі, яка
      достатня для того, щоб успішно жити і працювати в умовах інформаційного суспільства. На основі результатів аналізу
      стану і змісту підготовки майбутніх педагогів сфері ІКТ, можна зробити висновок, що в сучасних умовах традиційна
      система професійної підготовки не може залишатися незмінною, тому що змінилися цілі, які поставлені перед нею.
      Традиційні форми підготовки педагога у галузі ІКТ можуть бути наповнені новим змістом і більше відповідати
      сучасним вимогам до педагога . Впровадження ІКТ у професійну підготовку майбутніх педагогів у вищих навчальних
      закладів (ВНЗ) обумовлює побудову та функціонування ІОС, яке здатне забезпечити ефективність та гнучкість
      навчального процесу, широке використання інформаційних ресурсів, суттєво розширює можливості традиційних форм
      навчання, а також можливість створення нових ефективних форм навчання в умовах компетентнісного підходу.
      Сукупність засобів ІКТ (апаратні, програмні та інформаційні компоненти) використовуються для реалізації
      навчального процесу в межах функціонування ІОС. Викладачами кафедри інноваційних та інформаційних технологій в
      освіті Вінницького державного педагогічного університету імені Михайла Коцюбинського здійснюється наповнення ІОС,
      яке трансформується як під впливом глобальної освітньої мережі, так і під впливом нових педагогічних технологій і
      педагогічних програмних засобів. Воно відкрите для підготовки студентів будь-якого фаху. Завдяки особистій
      співтворчості відбувається процес оновлення, поповнення ресурсів у середовищі, створення нових ресурсів, що
      забезпечує збагачення особистостей. Таке середовище виступає як «динамічна система, що становить собою цілісну
      сукупність освітніх ситуацій, які змінюють одна одну» . Прикладом засобів ІКТ, що є складовими компонентів ІОС і
      здатні реалізувати зміст навчальних дисциплін у відповідності до потреб формування професійної компетентності
      виступають електронні навчально-методичні комплекси (ЕНМК). Вони здатні забезпечити підвищення ефективності
      професійної підготовки, насамперед через інтерактивність, самостійність, мультимедійність, що є необхідною умовою
      в процесі опрацювання навчального матеріалу. Використання складових компонентів ІОС, описаних вище, в процесі
      професійної підготовки майбутніх педагогів забезпечує : створення умов для поетапного переходу до нового рівня
      освіти на основі інформаційних технологій; поширення використання ІКТ в освіті; формування банку педагогічної
      інформації (нормативноправової, науково-методичної, методичної та ін.) ознайомлення студентів, педагогічних
      працівників з досвідом інноваційної діяльності педагогів-новаторів; підготовку студентів здатних ефективно
      використовувати в навчальному процесі засоби ІКТ. Відтак, складові компоненти ІОС дозволяють постійно вносити
      корективи, що робить ІОС гнучким до адаптації. ІОС забезпечує оперативну доставку навчального матеріалу, поширення
      інтегрованих знань, умінь і навичок підготовки майбутнього фахівця, використання глобальних іншомовних
      інформаційно-педагогічних ресурсів під час підготовки студентів, сприяє впровадженню інноваційних освітніх
      процесів, постійному підвищенню якості професійної підготовки студентів засобами ІКТ. Такий процес реалізується
      завдяки систематизації науково-педагогічних ресурсів, застосуванню неперервної освіти, підвищенню кваліфікації
      фахівців і перепідготовки кадрів, розвитку й інтеграції науковоосвітнього співтовариства. Висновок. Створення та
      використання ІОС в процесі професійної підготовки майбутніх педагогів засобами ІКТ, на наш погляд, сприятиме
      ефективнішому формуванню й розвитку професійної компетентності майбутнього педагога, забезпечить здатність до
      аналізу, оцінки й інтеграції досвіду роботи в сучасному інформаційному середовищі; прагнення до розвитку особистих
      творчих якостей студента; удосконалення способів інтеграції навчальних матеріалів, тобто є інноваційними підходами
      для модернізації професійної підготовки майбутніх педагогів засобами ІКТ в умовах функціонування інформаційного
      освітнього середовища.
    </p>
  </div>
  <div class="col d-flex flex-column align-items-center" *ngIf="!isSubject2 && !isSubject1">
    <div class="col-8">
      <a [routerLink]="['technology']">
        <img src="../../../assets/image/updateTechnology.png"
             class="img-fluid img-thumbnail border-0 bg-transparent animate-hover">
      </a>
    </div>
    <div class="row flex-row flex-grow-1 w-100 dropdown-divider"></div>
    <div class="col-8">
      <a [routerLink]="['profession']">
        <img src="../../../assets/image/treacher.jpg"
             class="img-fluid img-thumbnail border-0 bg-transparent animate-hover">
      </a>
    </div>
  </div>
</div>
