<div class="container">
  <div class="col text-center">
    <h4>Висновки.</h4>
    <p class="text-left">
      Реформування та розвиток інформаційно-освітнього простору потребує цілеспрямованого формування сучасного
      інформаційно-освітнього середовища , педагогічно виваженого проектування та використання комп’ютерно орієнтованих
      методичних систем навчання, а також відповідного удосконалення системи підготовки та підвищення кваліфікації
      педагогічних та науково-педагогічних працівників, керівних кадрів освіти, працівників ІТ підрозділів навчальних
      закладів, наукових установ, органів управління освітою.
      <br>
      <br>
      Пріоритетами при побудові інформаційно-освітнього середовища мають бути: широке використання у навчально-виховному
      процесі комп’ютерно орієнтованих засобів та ІКТ навчання, практичне впровадження технологій дистанційного
      навчання, забезпечення ІКТ підтримки науково-дослідної роботи, широке впровадження ІКТ в управлінні освітою на
      різних рівнях, у різних галузях, для всіх типів навчальних закладів .
      <br>
      <br>
      Технологічними принципами його розбудови має бути використання технологій хмарних обчислень, врахування
      розробниками веб-застосунків та електронних освітніх ресурсів (ЕОР) особливостей різних комп’ютерно-технологічних
      платформ та дієві механізми застосування ІКТ-аутсорсингу. Інформаційно-освітнє середовище має формуватися на нових
      технологіях і забезпечувати навчально-виховний процес електронними підручниками (ЕП), електронними
      навчально-методичними комплексами з відповідних предметів, переліком та настановами із застосування різноманітних
      веб- та хмарних сервісів, широкосмуговим Інтернетом, а також створювати умови: для запровадження педагогічно
      виважених моделей навчання; використання хмаро і мобільно орієнтованих навчальних середовищ для формування
      ключових компетентностей та життєвих навичок учнів; використання різноманітних віртуальних та дослідних
      лабораторій; для розкриття особистих здібностей учнів, моніторингу особистісних та навчальних досягнень; для
      врахування власних потреб інформатизації кожного навчального закладу.
      <br>
      <br>
      Важливо забезпечити формування і розвиток навичок тих, хто навчається, щодо здоров’я збережувального використання
      засобів ІКТ, зокрема шляхом упровадження відповідних просвітницьких заходів.
      <br>
      <br>
      Варто наголосити на актуальності досліджень щодо основ використання інформаційно-комунікаційних технологій в
      умовах розвитку інклюзивної освіти, забезпечення комп’ютерно-орієнтованої підтримки навчання дітей з особливими
      потребами. Політика використання ІКТ у комп’ютерно орієнтованих методичних системах навчання визначається
      вчителем. ІКТ-компетентність учня є одним із потужних чинників успішності навчальної, професійно орієнтованої,
      суспільної та інших видів діяльності. Наскрізним для змісту навчання на всіх рівнях освіти й в усіх галузях має
      бути посилення інформаційної та інформатичної підготовки учнів, впровадження ІКТ у вивчення всіх дисциплін.
      <br>
      <br>
      Технології електронного дистанційного навчання, що будуються на основі принципів відкритої освіти, є
      найсучаснішими перспективними технологіями організації освіти, мають визначальний вплив на характер і темпи
      інформатизації системи освіти.
      <br>
      <br>
      Використання засобів ІКТ у навчанні може відбуватися в різних організаційних формах: онлайн-курси,
      онлайн-консультування, онлайн-тренінги, хакатони, вебінари, використання інтерактивних ЕП, електронних віртуальних
      лабораторій, електронних соціальних мереж, відвідування інтерактивних музеїв науки, створення презентацій,
      платформ спілкування за науковими інтересами, міжнародних конкурсів з рішення науково-технічних задач, віртуальних
      технопарків та інші.
      <br>
      <br>
      Електронний освітній контент передбачає: бібліотечне та інформаційно-ресурсне забезпечення навчання, виховання,
      управління, проведення навчальних та наукових досліджень; ресурси бібліотечних інформаційних центрів; колекції
      електронних освітніх ресурсів, зміст сайтів навчальних закладів. Для створення широкого спектру й педагогічно
      виваженого використання електронних освітніх ресурсів та програмних засобів різного призначення, зокрема
      навчального й управлінського, доцільним є запровадження індустріального підходу, що враховує психолого-педагогічні
      аспекти побудови методичних систем навчання й відкритого комп’ютерно орієнтованого навчального середовища та
      передбачає обов’язкове залучення до створення ЕОР науковців, викладачів, кращих вчителів навчальних закладів.
      Питома вага навчальної літератури, поданої в електронній формі, має невпинно зростати. Електронні освітні ресурси
      — вид засобів освітньої діяльності, що існують в електронній формі, є сукупністю електронних інформаційних
      об’єктів (документів, документованих відомостей та інструкцій, інформаційних матеріалів, процесуальних моделей та
      ін.), що розташовуються і подаються в освітніх системах на запам’ятовуючих пристроях електронних даних .
      <br>
      <br>
      Варто зазначити, що до провідних електронних освітніх ресурсів навчального призначення у ЗНЗ відноситься
      електронний підручник.
      За особливістю інформаційно-технологічної будови ЕП як електронне видання є двох типів:
      перший тип — електронна версія друкарського видання,
      другий тип — спеціально створене електронне недрукарське видання.
      <br>
      <br>
      Будова електронного підручника другого типу, порівняно з першим, передбачає застосування: додаткових інформаційних
      об’єктів та зв’язків між ними, що можуть бути відтворені в статиці або динаміці; мультимедійних об’єктів (фото,
      відео, аудіо, анімація та ін.); засобів навігації (пошуки, гіперпосилання, закладки, примітки та ін.); засобів
      моніторингу результатів навчальної діяльності (тестування, контрольні завдання, статистика опрацювання та ін.);
      засобів забезпечення санкціонованого доступу; засобів проектування, що задовольняють техніко-технологічним вимогам
      створення і використання комп’ютерно орієнтованих методичних систем навчання; засобів індивідуалізації навчального
      контенту; засобів автоматизованого мережного оновлення ЕП; засобів санкціонованого копіювання ЕП або
      фрагментарного використання окремих інформаційних об’єктів; засобів відтворення за допомогою Інтернет та мобільно
      орієнтованих ЕП потребує окремої процедури грифування такого виду навчального видання. Також необхідно передбачити
      окрему процедуру ліцензування електронних видавництв. Проте залишається нерозв’язаною проблема розміщення
      електронного підручника у відкритому доступі.
      <br>
      <br>
      Актуальною проблемою, що вимагає негайного розв’язання є використання засобів ІКТ для підтримки наукових
      досліджень. Особливу увагу варто приділити науковим дослідженням, орієнтованим на вирішення теоретичних і
      методичних проблем застосування інформаційно-комунікаційних технологій в освіті, а також психологопедагогічного
      супроводу їх розроблення.
      <br>
      <br>
      Результати педагогічних досліджень теоретичних та методичних проблем використання ІКТ в освіті, педагогічного
      обґрунтування розроблення цих технологій для забезпечення функціонування й розвитку освітніх систем і відповідна
      продукція все частіше подається у вигляді ЕОР, що зумовлює потребу в уточненні, розширенні складу й видів засобів
      ІКТ для апробації, впровадження та «моніторингу впровадження таких результатів і розроблення науково-обґрунтованих
      способів, методів та прийомів їх застосування» . Тому актуальними постають завдання побудови цілісних систем,
      орієнтованих на комплексне забезпечення процесів освітньої апробації, впровадження результатів педагогічних
      досліджень та проведення моніторингу впровадження таких результатів в освітню практику й науку. Поряд із цим
      набувають важливого значення завдання формування та розвитку ІКТ-компетентності наукових, науково-педагогічних
      працівників, магістрів та майбутніх докторів філософії в галузі наук про освіту. Доцільно використати кращий
      досвід підготовки наукових кадрів вищої кваліфікації з ІКТ в освіті .
    </p>
  </div>
</div>
