<div class="container">
  <div class="col text-center text-dark" *ngIf="isSubject1 && !isSubject2">
    <h4>Основні поняття про сучасні технології.</h4>
    <div class="row dropdown-divider"></div>
    <p class="text-left">
      На теперішній час у світі електронне навчання (e-learning) розвивається досить активно, чому сприяє підвищений
      попит на освітні послуги та рівень розвитку ІКТ. Найбільше користувачів електронного навчання налічується в США та
      Канаді. Серед Європейських країн лідерами є Великобританія, Германія, Італія та Франція.
      Експерти ЮНЕСКО вважають, що для відповідності кваліфікації працівників до рівня інформаційного суспільства,
      необхідне впровадження в освітній процес електронного навчання, що орієнтує студентів на новий стиль освіти та
      сприяє розвитку їх умінь та навичок для подальшого навчання протягом усього життя .
      <br>
      <br>
      Виступаючи в якості повної заміни або як доповнення до традиційного навчання, асинхронне електронне навчання є,
      мабуть, найбільш швидко зростаючим сегментом у сфері вищої освіти США. Останні дослідження в США показують, що
      електронне навчання, виступаючи в якості повної заміни традиційного навчання, має в середньому щорічне збільшення
      чисельності студентів і охоплює трохи менше 20% всіх студентів в період між 2002 і 2008 роками, приблизно 300 000
      викладачів займаються електронним навчанням (у тому числі у США в 2008 році від 20 до 25 % студентів реєструвалися
      хоча б в одному онлайн- класі).
      <br>
      <br>
      Згідно з заявою голландського центру з вищої освіти політичних досліджень «Міжнародне порівняльне дослідження на
      сьогодення і майбутнє використання ІКТ у вищій освіті» подібна статистика в європейських країнах не ведеться,
      європейські викладачі дивляться на Інтернет-технології навчання скептично, «від швидкого впровадження електронного
      навчання у європейських викладачів виникає розчарування» .
      Як зазначає С. О. Семеріко, розвиток електронного навчання відбувався на трьох етапах:
      Перший етап (20-50-ті роки ХХ століття) охоплює період з моменту появи електромеханічних комп’ютерів до широкого
      впровадження електронних комп’ютерів. Цей етап характеризується застосуванням різних механічних, електромеханічних
      та електронних індивідуалізованих пристроїв, за допомогою яких подавався навчальний матеріал та виконувався
      контроль і самоконтроль знань технологія програмованого навчання).
      <br>
      <br>
      Другий етап охоплює період 50-80-х років минулого століття та пов’язаний з широким впровадженням ЕОМ у практику.
      Ключовими термінами цього періоду стали інтелектуальні навчаючі системи, комп’ютерно-орієнтовані системи навчання,
      комп’ютерна підтримка навчального процесу, комп’ютерні системи контролю знань. В цей період була створена велика
      кількість спеціалізованого програмного забезпечення – автоматизованих навчальних систем PLATO, Coursewriter, Tutor
      та інші. Цьому сприяли очевидні переваги електронних комп’ютерів над електромеханічними – наявність пам’яті для
      зберігання навчальних матеріалів, висока швидкість опрацювання та розрахунків, більш широкі засоби для перегляду
      навчальних матеріалів та багато інших. Головним недоліком розробок цього періоду була їх стаціонарність та
      автономність, пов’язана з використанням «великих» обчислювальних машин або, в кращому випадку, зв’язаних з ними
      терміналів. Також було важко реалізувати обмін освітніми ресурсами та послугами між великою кількістю
      користувачів.
      <br>
      <br>
      Третій етап (з 80-х років минулого століття) розпочався з появою комп’ютерних мереж та персональних комп’ютерів.
      Виключно потужний імпульс у розвитку освітніх технологій пов’язаний з використанням глобальної мережі Інтернет.
      Використання спільних та розподілених ресурсів, Web-технологій, віддалений доступ до навчальних матеріалів
      забезпечив суттєве підвищення ефективності професійної підготовки, її доступності та масовості. Мережні
      технології, висока якість та підвищення апаратного забезпечення уможливили створення професійних середовищ та
      систем для надання освітніх послуг і реалізації різних видів формальної (організованої) та неформальної
      (спеціально не організованої) освіти. Ключовими термінами цього періоду є Інтернет, Web-курси, гіпертекст,
      віртуальне навчання, віртуальний університет, неперервна освіта, навчання протягом усього життя, дистанційне
      навчання, електронне навчання та мобільне навчання.

    </p>
  </div>
  <div class="col text-center text-dark" *ngIf="!isSubject1 && isSubject2">
    <h4>Тлумачення по темі.</h4>
    <div class="row dropdown-divider"></div>
    <p class="text-left">
      Наведемо декілька тлумачень поняття «електронне навчання».
      Марк Розенберг (Marc Rosenberg) дав таке тлумачення терміну e-Learning:  e-Learning – використання
      Інтернет-технологій для надання широкого спектра рішень, що забезпечують підвищення знань та продуктивності праці;
      e-Learning базується на трьох основних принципах: робота здійснюється по мережі; доставка навчального контенту
      кінцевому користувачу здійснюється за допомогою комп’ютера з використанням стандартних Інтернет-технологій .
      Еллісон Роззетт (Allison Rossett) визначає e-Learning так: Web-навчання (WBT) або електронне навчання, або онлайн
      навчання – це є підготовка кадрів, що знаходиться на сервері або на комп’ютері, який підключений до мережі
      Інтернет (World Wide Web) .
      Фахівці ЮНЕСКО вважають, що e-Learning – це навчання за допомогою Інтернет і мультимедіа.
      Існує велика кількість тлумачень, що роблять акцент на інших аспектах e-Learning. Наведемо декілька із них:
      e-Learning – широкий набір додатків і процесів, що забезпечують: навчання, побудоване на використанні
      web-технологій; навчання, побудоване з використанням персонального комп’ютера, віртуальних класних кімнат; і
      засоби організації взаємодію користувачів по мережі. e-Learning включає в себе доставку навчального контенту через
      Інтернет, аудіо- і відеозапис, супутникове мовлення, інтерактивне телебачення і CD-ROM ;
      e-Learning – навчання, побудоване з використанням інформаційних і телекомунікаційних технологій. Охоплює весь
      спектр дій, починаючи від підтримки процесу навчання, до доставки навчального контенту слухачам .
      <br>
      <br>
      За В. Ю. Биковим, електронне дистанційне навчання — це різновид дистанційного навчання, за яким учасники і
      організатори навчального процесу здійснюють переважно індивідуалізовану взаємодію як асинхронно, так і синхронно у
      часі, переважно і принципово використовуючи електронні транспортні системи доставки засобів навчання та інших
      інформаційних об’єктів, комп’ютерні мережі Інтернет/Інтранет, медіа навчальні засоби та інформаційно-комунікаційні
      технології .
      На думку С. О. Семерікова, електронне навчання є інноваційною технологією, спрямованою на професіоналізацію та
      підвищення мобільності тих, хто навчається, і на сучасному етапі розвитку ІКТ воно може розглядатися як
      технологічна основа фундаменталізації вищої освіти.
      Останнім часом все більшого поширення набуває термін електронного навчання 2.0. Термін електронного навчання 2.0
      відображає тенденції в сфері організації електронного навчання, пов’язані з використанням технологій Веб 2.0. На
      відміну від електронного навчання, що припускає використання дистанційних курсів, які пропонуються студентам з
      метою проведення процесу навчання, електронне навчання 2.0 припускає використання засобів Веб 2.0: блоги, вікі,
      підкасти, соціальні мережі тощо.
      Спираючись на зазначені характерні риси і принципи побудови електронне навчання, В. М. Кухаренко вказує такі його
      специфічні якісні властивості :
      <br>
      1) гнучкість і адаптивність навчального процесу до потреб і можливостей студентів, які, в основному не відвідують
      регулярних занять, а працюють у зручний (як для викладача, так і для студента) для такої роботи час у зручному
      місці й зручному темпі;
      <br>
      2) модульність побудови навчальних програм;
      <br>
      3) нова роль викладача: викладач координує навчально-пізнавальний процес, коригує курс, який викладає, керує
      навчальними проектами, перевіряє поточні завдання, консультує при складанні індивідуального навчального плану,
      управляє навчальними групами взаємопідтримки;
      <br>
      4) спеціалізовані форми контролю якості навчальних досягнень: традиційні формами контролю якості освіти та
      дистанційні (співбесіди, практичні, курсові та проектні роботи, екстернат, робота в середовищі комп’ютерних
      інтелектуальних тестових систем тощо);
      <br>
      5) використання спеціалізованих засобів навчання.
      <br>
      <br>
      У зв’язку з тим, що електронне навчання в останні роки набуває все більшої популярності, виникає необхідність в
      стандартизації підходів до створення курсів електронного навчання. У зв’язку з цим Міністерство Оборони США та
      Департамент політики в галузі науки і технології Адміністрації Президента США в листопаді 1997 р. оголосили про
      створення ініціативи ADL (Advanced Distributed Learning). Метою створення даної ініціативи є розвиток стратегії,
      що проводиться міністерством оборони і урядом в області модернізації навчання і тренінгу, а також для об’єднання
      вищих навчальних закладів та комерційних підприємств для створення стандартів у сфері електронного навчання [9].
      Створення стандарту SCORM (Sharable Content Object Reference Model, «зразкова модель об’єкта вмісту для спільного
      використання») є першим кроком на шляху до розвитку концепції ADL, оскільки даний стандарт визначає структуру
      навчальних матеріалів і інтерфейс середовища виконання. Завдяки цьому навчальні об’єкти можуть бути використані в
      різних системах електронної дистанційної освіти. SCORM описує структуру такої освіти за допомогою декількох
      основних принципів, специфікацій і стандартів, ґрунтуючись при цьому на інших, раніше створених. специфікаціях і
      стандартах електронної та дистанційної освіти.
      В процесі роботи над SCORM були сформульовані кілька вимог до всіх систем, що будуть розроблятися відповідно до
      цього стандарту. Вони відомі як «ilities» ADL («можливості» або «здібності» ADL), і вони формують основу для змін
      і доповнень SCORM.
      <br>
      До таких вимог відносять : доступність, адаптованість, ефективність, довговічність, інтероперабельність,
      можливість багаторазового використання.
      Всі ці принципи успішно можуть бути дотримані в тому випадку, якщо спочатку орієнтуватися на використання
      освітнього контенту в веб-середовищі .
      Для телекомунікаційного середовища (зокрема, мережі Інтернет) характерна клієнт-серверна модель. Така модель
      використовується і в стандарті SCORM. Сервером у даному випадку є LMS – Learning Management System – Система
      Управління Навчанням.
      <br>
      В контексті SCORM широко використовуються LMS програми. SCORM зосереджується на інтерфейсі, що використовується в
      освітньому контенті та LMS, але не стосується особливостей внутрішньої реалізації LMS. В SCORM, термін LMS означає
      середу сервера. Іншими словами, згідно специфікації стандарту SCORM, LMS визначає яку інформацію і куди треба
      надати, і відстежує роботу користувача з матеріалом.
      <br>
      При використанні моделі SCORM можливе створення електронних курсів, незалежних від самої системи, що легко
      переносяться і багаторазово використовуються в інших системах управління навчанням.
      На теперішній час електронне навчання є невід’ємною частиною освітнього процесу. До його складу можна віднести
      електронні курси, електронні бібліотеки, нові програми та системи навчання.
      <br>
      C. О. Семеріков виділяє елементи системи електронного навчання, що є спільними з дистанційним :
      – змістові об’єкти: навчальний матеріал поділений на модулі, що містять об’єкти різної природи – текст, графіку,
      зображення, аудіо, анімацію, відео тощо. Як правило, вони зберігаються в базі даних і доступні в залежності від
      потреб суб’єктів навчання. Результатом є індивідуалізація навчання – студенти отримують лише те, що їм потрібно,
      засвоюючи знання у бажаному темпі;
      <br>
      – спільноти: студенти можуть створювати Інтернет-спільноти для взаємодопомоги та обміну повідомленнями;
      – експертна онлайн-допомога: викладачі або експерти (інструктори з курсу) доступні в мережі для проведення
      консультацій, відповіді на питання, організації обговорення;
      – можливості для співпраці: за допомогою відповідного програмного забезпечення можна організувати
      онлайн-конференції, спільну роботу над проектом студентів, географічно віддалених один від одного;
      – мультимедіа: сучасні аудіо- та відеотехнології подання навчальних матеріалів з метою стимулювання прагнення
      студентів до набуття знань та підвищення ефективності навчання.
      <br>
      <br>
      До переваг навчання, що проводиться з використанням технологій електронного навчання відносять :
      <br>
      1. Персоніфікація. Слухач навчання, що проводиться з використанням технологій електронного навчання, може
      самостійно: визначити швидкість вивчення навчального матеріалу; визначити, коли він хоче проходити навчання;
      визначити які саме розділи навчального матеріалу і в якій послідовності йому необхідно вивчити.
      <br>
      2. Можливість проходження навчання без відриву від виробництва.
      <br>
      3. Можливість комбінування навчального контенту для формування різноманітних навчальних програм, адаптованих під
      конкретного учня.
      <br>
      4. Можливість отримати набагато більше інформації необхідної для оцінки знань, навичок і умінь, отриманих в
      результаті проведеного навчання. У тому числі: час витрачається на питання, кількість спроб, питання або завдання,
      які викликали найбільші труднощі і т.д. Наявність такої інформації дозволяє набагато гнучкіше управляти проведеним
      навчанням.
      <br>
      5. Вартість. Незважаючи на необхідність високих початкових інвестицій, навчання, яке проводиться з використанням
      технологій електронного навчання, виявляється значно дешевшим порівняно з традиційним очним навчанням.
      <br>
      6. Використання широкого діапазону різноманітних засобів навчання.
      Всі ці кошти можуть бути використані і при проведенні традиційного очного навчання, але частіше всього цього не
      відбувається, а електронне навчання вимагає обов’язкового їх використання. В результаті цього навчання, яке
      проводиться з використанням технологій електронного навчання, виявляється найчастіше більш ефективним в порівнянні
      з традиційним очним навчанням.
      <br>
      7. Можливість його використання для проведення навчання осіб, які мають обмежені можливості.
      <br>
      8. Надання доступу до якісного навчання особам, за тим, чи інших причин, які не мають можливості навчатися у
      традиційній очній формі. Наприклад, в місці їх проживання немає якісного навчального закладу.
      <br>
      9. Побудова ефективної системи управління навчанням, побудованої на можливості збору значно більшої інформації про
      проходження навчання слухачем в порівнянні з традиційним очним навчанням.
      До недоліків навчання, що проводиться з використанням технологій електронного навчання, слід віднести:
      <br>
      1. Складність внесення оперативних змін, у випадку якщо навчання вже почалося.
      <br>
      2. Необхідність формування додаткової мотивації у слухачів навчання, що проводиться з використанням технологій
      електронного навчання, порівняно з іншими формами навчання.
      <br>
      3. Необхідність високих інвестицій при побудові середовища електронного навчання.
      <br>
      4. Висока залежність від технічної інфраструктури. Збій в інфраструктурі може привести до зниження ефективності чи
      взагалі зриву навчання.
      <br>
      5. Відсутність достатньої кількості фахівців у сфері технологій електронного навчання.
      <br>
      6. Високі інвестиції на внесення змін у навчальний контент.
      <br>
      <br>
      Швидкий розвиток принципово нового напряму в освітній сфері неминуче привів до появи великої кількості проблем.
      Швидкість подальшого розвитку технологій електронного навчання багато в чому залежить від того, наскільки успішно
      будуть вирішені існуючі на сьогодні проблеми. Можна виділити наступні основні проблеми в сфері технологій
      електронного навчання:
      <br>
      – проблема визначення еквівалентності дистанційних курсів і визнання дистанційної освіти на ряду з традиційним
      очним освітою;
      <br>
      – мовна проблема при імпорті (експорті) освіти. Дистанційні курси розроблені на одній мові, зажадають значних
      інвестицій для їх перекладу на іншу мову, включаючи необхідність врахування соціальних, культурологічних та інших
      особливостей регіону, де буде проводитися навчання з використанням технологій дистанційного навчання;
      <br>
      – нерівномірний розвиток інформаційних технологій, особливо, в частині каналів передачі даних. Недостатня
      пропускна спроможність каналів передачі даних серйозно обмежує можливість застосування засобів електронного
      навчання;
      <br>
      – відсутність достатньої кількості фахівців у сфері технологій електронного навчання, що володіють необхідним
      рівнем компетенції;
      <br>
      – висока вартість розробки і підтримки в актуальному стані дистанційних курсів;
      <br>
      – різниця в часі в разі проведення дистанційного навчання на великих територіях. Особливо актуальним це стає при
      використанні засобів електронного навчання, що функціонують в режимі реального часу;
      <br>
      – велика кількість оман, які супроводжують навчання, що проводиться з використанням технологій електронного
      навчання, сформувалися, в тому числі, через велику кількість організацій, що використовують технології
      дистанційного навчання, але не володіють належною компетенцією в даній сфері .
      Сьогодні електронне навчання в Україні може повноцінно розвиватися при наявності нормативно-правової бази;
      навчальних закладів електронного навчання; контингенту студентів; кваліфікованих викладачів; навчальних програм і
      курсів; відповідної матеріально-технічної бази; фінансової підтримки тощо.
      Дані про стан електронного навчання в нашій країні та в усьому світі свідчать про нагальну необхідність його
      стимулювання, щоб забезпечити динамічний і прогресивний розвиток та впровадження на всіх рівнях освіти, перш за
      все,
      <br>
      – вищої, тому що електронне навчання є інноваційною технологією, спрямованою на професіоналізацію та
      підвищення мобільності тих, хто навчається, і на сучасному етапі розвитку ІКТ воно може розглядатися як
      технологічна основа фундаменталізації вищої освіти .
    </p>
  </div>
  <div class="col d-flex flex-column align-items-center" *ngIf="!isSubject2 && !isSubject1">
    <div class="col-8">
      <a [routerLink]="['innovation']">
        <img src="../../../assets/image/technology.png"
             class="img-fluid img-thumbnail border-0 bg-transparent animate-hover">
      </a>
    </div>
    <div class="row flex-row flex-grow-1 w-100 dropdown-divider"></div>
    <div class="col-8">
      <a [routerLink]="['options']">
        <img src="../../../assets/image/eLesson.png"
             class="img-fluid img-thumbnail border-0 bg-transparent animate-hover">
      </a>
    </div>
  </div>
</div>
